@tailwind base;
@tailwind components;
@tailwind utilities;

/*todo: Configure correct tailwind colour scheme 
ie. neutral-200 neutral-800 etc etc
*/

@layer base {
  :root {
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-600: #525252;
    --neutral-900: #171717;
    --neutral-800: #262626;
    --neutral-950: #0a0a0a;
    --red-500: #ef4444;

    --background: var(--neutral-200);
    --foreground: var(--neutral-950);

    --card: var(--neutral-200);
    --card-foreground: var(--neutral-950);

    --popover: var(--neutral-200);
    --popover-foreground: var(--neutral-950);

    --primary: var(--neutral-900);
    --primary-foreground: var(--neutral-200);

    --secondary: var(--neutral-300);
    --secondary-foreground: var(--neutral-900);

    --muted: var(--neutral-300);
    --muted-foreground: var(--neutral-600);

    --accent: var(--neutral-300);
    --accent-foreground: var(--neutral-900);

    --destructive: var(--red-500);
    --destructive-foreground: var(--neutral-200);

    --border: var(--neutral-400);
    --input: var(--neutral-400);
    --ring: var(--neutral-950);

    --radius: 0.5rem;

    --inverted: var(--neutral-800);
    --inverted-foreground: var(--neutral-200);
  }

  .dark {
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-600: #525252;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;
    --red-900: #7f1d1d;

    --background: var(--neutral-950);
    --foreground: var(--neutral-200);

    --card: var(--neutral-950);
    --card-foreground: var(--neutral-200);

    --popover: var(--neutral-950);
    --popover-foreground: var(--neutral-200);

    --primary: var(--neutral-200);
    --primary-foreground: var(--neutral-900);

    --secondary: var(--neutral-800);
    --secondary-foreground: var(--neutral-200);

    --muted: var(--neutral-800);
    --muted-foreground: var(--neutral-300);

    --accent: var(--neutral-800);
    --accent-foreground: var(--neutral-200);

    --destructive: var(--red-900);
    --destructive-foreground: var(--neutral-200);

    --border: var(--neutral-800);
    --input: var(--neutral-800);
    --ring: var(--neutral-300);

    --inverted: var(--neutral-200);
    --inverted-foreground: var(--neutral-800);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
