@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-50: 0 0% 98%;
    --neutral-300: 0 0% 83%;
    --neutral-400: 0 0% 64%;
    --neutral-600: 0 0% 32%;
    --neutral-800: 0 0% 15%;
    --neutral-900: 0 0% 9%;
    --neutral-950: 0 0% 4%;
    --red-500: 0 84% 60%;

    --background: var(--neutral-50);
    --foreground: var(--neutral-950);

    --card: var(--neutral-50);
    --card-foreground: var(--neutral-950);

    --popover: var(--neutral-50);
    --popover-foreground: var(--neutral-950);

    --primary: var(--neutral-900);
    --primary-foreground: var(--neutral-50);

    --secondary: var(--neutral-300);
    --secondary-foreground: var(--neutral-900);
    --secondary-header: var(--neutral-600);

    --tertiary: var(--neutral-400);

    --muted: var(--neutral-300);
    --muted-foreground: var(--neutral-600);

    --accent: var(--neutral-300);
    --accent-foreground: var(--neutral-900);

    --destructive: var(--red-500);
    --destructive-foreground: var(--neutral-50);

    --border: var(--neutral-400);
    --input: var(--neutral-400);
    --ring: var(--neutral-950);

    --radius: 0.5rem;

    --inverted: var(--neutral-800);
    --inverted-foreground: var(--neutral-50);
  }

  .dark {
    --neutral-50: 0 0% 90%;
    --neutral-300: 0 0% 83%;
    --neutral-400: 0 0% 64%;
    --neutral-600: 0 0% 32%;
    --neutral-800: 0 0% 15%;
    --neutral-900: 0 0% 9%;
    --neutral-950: 0 0% 4%;
    --red-900: 0 63% 31%;

    --background: var(--neutral-950);
    --foreground: var(--neutral-50);

    --card: var(--neutral-950);
    --card-foreground: var(--neutral-50);

    --popover: var(--neutral-950);
    --popover-foreground: var(--neutral-50);

    --primary: var(--neutral-50);
    --primary-foreground: var(--neutral-900);

    --secondary: var(--neutral-800);
    --secondary-foreground: var(--neutral-50);
    --secondary-header: var(--neutral-400);

    --tertiary: var(--neutral-600);

    --muted: var(--neutral-800);
    --muted-foreground: var(--neutral-400);

    --accent: var(--neutral-800);
    --accent-foreground: var(--neutral-50);

    --destructive: var(--red-900);
    --destructive-foreground: var(--neutral-50);

    --border: var(--neutral-800);
    --input: var(--neutral-800);
    --ring: var(--neutral-300);
    --radius: 0.5rem;
    --inverted: var(--neutral-50);
    --inverted-foreground: var(--neutral-800);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
